body{
    font-family: 'Roboto', sans-serif;
}

#particles-js{
    background:#332933;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
}

#welcome{
    padding:1px 0px;
    border-radius:5px;
    text-align:center;
    position:relative;
    background-color:rgba(0,0,0,.2);
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    color:white;
}

#ng-logo{
    width:40%;
}

#sidebar{
    top:1%;
    left:-15%;
    position:absolute;
    color:white;
}
